@model IEnumerable<School.Models.Assignment>

@{
    ViewBag.Title = "AssignmentsToCourses";
}

<h2>AssignmentsToCourses</h2>

@Html.ActionLink("Back to List", "Details")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Add ", "AssignmentsToCourses", new { aId = item.ID, id = ViewBag.cId })
        </td>
    </tr>
}

</table>
